<div class="jumbotron">
    <h1 class="display-4">Typescript App</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi asperiores doloremque, libero cumque quod.</p>
    <a href="/tasks/list" class="btn btn-primary btn-lg">Task List</a>
</div>