<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container">
    <a class="navbar-brand" href="/"><h2>Type Taz</h2></a>
  <div class="collapse navbar-collapse ">
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="/tasks/create"><h4>Create</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tasks/list"><h4>List</h4></a>
      </li>
    </ul>
  </div>
  </div>
</nav>